extends ../layout

block content
    form(name="add-person", action="/place/add", method="post")
        input(type="text", name="name", placeholder="Name")
        input(type="text", name="description", placeholder="Description")
        input(type="text", name="strAddress", placeholder="Street Address")
        input(type="text", name="city", placeholder="City")
        input(type="text", name="stateProv", placeholder="State or Providence")
        input(type="text", name="country", placeholder="Country")
        input(type="submit",value="Add Place")